<main class="container-home">

  <section class="welcome-section mt-5 w-100 p-5">


      <mat-card class="col-xl-6 col-md-6 col-sm-12 col-12 welcome-card-one">
        <div class="headline-container w-100">
          <h2 class="mt-5 headline-text">
            Você Sabia?
          </h2>
        </div>
      </mat-card>

      <mat-card class="col-xl-6 col-md-6 col-sm-12 col-12 welcome-card-two">

      </mat-card>


  </section>

  <section class="about-section w-100">

    <mat-card class="col-xl-6 col-md-6 col-sm-12 col-12 about-card-one">

    </mat-card>

    <mat-card class="col-xl-6 col-md-6 col-sm-12 col-12 about-card-two">

    </mat-card>

  </section>

  <section class="pricing-section w-100">
    <app-plans></app-plans>
  </section>


</main>
