<main>
    <div class="container-login row w-100 mt-5 mb-5">
      <section class="col-xl-7 col-md-7 col-sm-12 col-12 mb-3 section-form">
<!--
        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
          {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
        </button> -->
        <mat-stepper [linear]="true" #stepper>

          <mat-step [completed]="F_company.invalid ? false : true" [stepControl]="form">
            <form [formGroup]="form">
              <ng-template matStepLabel>Empresa</ng-template>
              <mat-form-field class="mb-2 col-12" appearance="outline">
                <mat-label>Seu nome ou nome da empresa</mat-label>
                <input
                matInput
                formControlName="company">
                <mat-error *ngIf="F_company.invalid">{{getErrorMessageUserName()}}</mat-error>
            </mat-form-field>

              <div>
                <button mat-button [disabled]="F_company.invalid" matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>

          <mat-step [completed]="F_email.invalid ? false : true" [stepControl]="form" label="E-mail">
            <form [formGroup]="form">
              <mat-form-field class="mb-2 col-12 " appearance="outline">
                <mat-label>Email</mat-label>
                <input
                matInput
                type="email"
                name="email"
                placeholder="pat@example.com"
                formControlName="email"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                required
                >
                <mat-error *ngIf="F_email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button [disabled]="F_email.invalid" matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>

          <mat-step [completed]="F_document.invalid ? false : true" [stepControl]="form" label="CPF/CNPJ">
            <form [formGroup]="form">
              <mat-form-field class="mb-2 col-12 " appearance="outline">
                <mat-label>CPF/CNPJ</mat-label>
                <input
                  matInput
                 formControlName="document"
                 pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})"
                 mask="000.000.000-00||00.000.000/0000-00">
                 <mat-error *ngIf="F_document.invalid">{{getErrorMessageDocument()}}</mat-error>
            </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button [disabled]="F_document.invalid" matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>

          <mat-step [completed]="F_password.invalid ? false : true" [stepControl]="form" label="Senha">
            <form [formGroup]="form">
              <mat-form-field class="mb-2 col-12 " appearance="outline">
                <mat-label>Senha</mat-label>
                <input
                matInput
                [type]="hide() ? 'password' : 'text'"
                 formControlName="password"
                 minlength="6"
                 required>
                <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
                <mat-error *ngIf="F_password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Voltar</button>
                <button mat-button [disabled]="F_password.invalid" matStepperNext>Próximo</button>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel >Pronto!</ng-template>
            <p>Caso queira, Revise os dados. Se estiver tudo correto, é só clicar em registrar! </p>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button (click)="stepper.reset()">Resetar</button>
              <button mat-button [disabled]="form.invalid" type="submit" (click)="onSubmit()" class=" btn-confirm">Registrar</button>
            </div>
          </mat-step>
        </mat-stepper>

        <hr>

        <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
          <p class="f-550 mt-3">Já tem cadastro?</p>
          <button (click)="goTo('login')" type="button" class="btn-ficus-dark-blue">Entrar</button>
      </div>


      <!-- <mat-card class="account-card">
           <form action="form row" [formGroup]="form">

                <h6 class="mt-3 mb-4">Insira os seus dados</h6>

                    <mat-form-field class="mb-2 col-12" appearance="outline">
                        <mat-label>Seu nome ou nome da empresa</mat-label>
                        <input
                        matInput
                        formControlName="company">
                        <mat-error *ngIf="F_company.invalid">{{getErrorMessageUserName()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-2 col-12 " appearance="outline">
                      <mat-label>CPF/CNPJ</mat-label>
                      <input
                        matInput
                       formControlName="document"
                       pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})"
                       mask="000.000.000-00||00.000.000/0000-00">
                       <mat-error *ngIf="F_document.invalid">{{getErrorMessageDocument()}}</mat-error>
                  </mat-form-field>

                    <mat-form-field class="mb-2 col-12 " appearance="outline">
                        <mat-label>Email</mat-label>
                        <input
                        matInput
                        type="email"
                        name="email"
                        placeholder="pat@example.com"
                        formControlName="email"
                        pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                        required
                        >
                        <mat-error *ngIf="F_email.invalid">{{getErrorMessageEmail()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="mb-2 col-12 " appearance="outline">
                      <mat-label>Senha</mat-label>
                      <input
                      matInput
                      [type]="hide() ? 'password' : 'text'"
                       formControlName="password"
                       minlength="6"
                       required>
                      <button
                      mat-icon-button
                      matSuffix
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                      <mat-error *ngIf="F_password.invalid">{{getErrorMessagePassword()}}</mat-error>
                  </mat-form-field>

          </form>

          <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
            <button type="submit" (click)="onSubmit()" class="w-100 btn-confirm">Registrar</button>
            <p class="f-550 mt-3">Já tem cadastro?</p>
            <button (click)="goTo('login')" type="button" class="w-100 btn-filter">Entrar</button>
        </div>

      </mat-card> -->

      </section>

      <section class="col-xl-5 col-md-5 col-sm-12 col-12 mb-3 info-create-account">

        <mat-card class="col-xl-12 col-md-12 col-xl-12 col-12 mb-3 info-card-container">
          <div class="img-container mt-2">
            <img (click)="goTo('dashboard/company-search')" src="assets/images/Ficus_Logo.png" alt="">
          </div>
          <div class="col-xl-12 col-md-12 col-xl-12 col-12 info-text-container mt-3 mb-3">
            <h5 class="f-550">Tenha acesso a milhares de Leads e potencialize o seu negócio!</h5>
            <div class="data-bank-img">
              <img src="./../../../../assets/images/transparent-big-data-clip-cookdiary-net-analysis-clipart-data-gatheri5e9d353ddb5979.9131019515873610858985.png" alt="">
            </div>
            <p class="f-550">Mais poder e controle na sua gestão.</p>
            <div class="col-xl-5 col-md-12 col-10 p-1 w-100 btn-container">
              <button type="button" (click)="goTo('pricing')" class="btn-account f-550">Ver planos</button>
              <div class="w-100"></div>
              <hr>
            </div>
          </div>
        </mat-card>

      </section>
    </div>
  </main>
