@import '../../../../styles/main.scss';

main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ficus-light-gray;

  .container-login{
    flex-direction: row !important;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0;

    @media (max-width: 480px) {
      flex-direction: column-reverse !important;
    }

    .section-form{
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      height: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 5rem;

      @media (max-width: 780px) {
        align-items: center;

      }

      .btn-container{
        border-top: 2px double $aleixo-dark-blue;
        margin-top: 5rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 780px) {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
        }

        .btn-ficus-dark-blue{
          height: 38px;
          width: 200px;
          border-radius: 5px;
          outline: transparent;
          color: $aleixo-white;
          background-color: $aleixo-dark-blue;
          border: none;
          box-shadow: 3px -3px 7px 2px rgba(255, 198, 41, 0.2);
          @media (max-width: 780px) {
            margin-bottom: 1rem;
          }
        }
      }

    }

      .account-card{
        display: flex;
        max-width: 25rem;
        height: 100%;
        border-radius: 10px;
        padding: 1.5rem;
        text-align: center;
        background-color: rgba(232, 232, 232, 0.9);
        backdrop-filter: blur(10%) !important;
        box-shadow: none;
          @media (max-width: 780px) {
            width: 20rem;
          }

        .btn-container{
          margin: 0;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
         @media (max-width: 480px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
          }
        }

        .btn-confirm{
          height: 38px;
          border-radius: 5px;
          outline: transparent;
          color: $ficus-black;
          background-color: $ficus-yellow;
          border: none;
          box-shadow: 3px -3px 7px 2px rgba(255, 198, 41, 0.2);

          &_:disabled{
            background-color: $ficus-light-gray;

          }
          @media (max-width: 480px) {
            margin-bottom: 1rem;
          }

        }


        .btn-google{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          height: 38px;
          border-radius: 5px;
          outline: transparent;
          color: $ficus-black;
          background-color: $ficus-white;
          border: 1px solid $ficus-black;
          @media (max-width: 480px) {
            margin-bottom: 1rem;
          }

          .google{
          display: block;
          width: 15px;
          margin: 0;
          padding: 0;
          }
        }
      }
  }

  .info-create-account{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    color: $ficus-yellow;
    background-color: $aleixo-dark-blue;
    box-shadow: -5px 1px 20px 0px $ficus-black;
    margin: 0 !important;

    @media (max-width: 780px) {
      min-height: 100%;
      width: 100%;
    }

    .info-text-container{
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      h2, h4{
        line-height: 1.5;
      }
    }

    .info-card-container{
      display: flex;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
      height: 100%;
      text-align: center;
      background-color: $aleixo-dark-blue;
      // backdrop-filter: blur(10%) !important;
      box-shadow: none;
      padding: 1.5rem;
      gap: 4rem;

      // background: url('./../../../../assets/images/digital-marketing-1433427_1280.png');
      // background-repeat: no-repeat;
      // background-attachment: fixed;
      // background-size: cover;
      // background-position: center;

      @media (max-width: 780px) {
        width: 100%;
        height: 100%;
      }
      .data-bank-img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        img{
          width: 12rem;
          // height: 8rem;
        }
      }
      .img-container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: .5rem;
        @media (max-width: 780px) {
          margin-left: 2%;
        }
        img{
          width: 6rem;

          @media (max-width: 480px) {
            width: 4rem;
          }
        }
      }
      h5, h4, p{
        line-height: 1.5;
      }
      .btn-container{
        margin: 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 780px) {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
        }
        .btn-account{
          height: 38px;
          width: 200px;
          border-radius: 5px;
          outline: transparent;
          color: $ficus-black;
          background-color: $ficus-yellow;
          border: none;
          // box-shadow: 3px -3px 7px 2px rgba(255, 198, 41, 0.2);
          @media (max-width: 780px) {
            margin-bottom: 1rem;
          }
        }
        .btn-filter{
          height: 38px;
          border-radius: 5px;
          outline: transparent;
          color: $ficus-yellow;
          background-color: $aleixo-dark-blue;
          border: none;
          box-shadow:-1px 1px 8px 1px rgba(0, 0, 0, 0.2);
          @media (max-width: 780px) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

}

.mat-stepper-vertical, .mat-stepper-horizontal {
  display: block;
  font-family: var(--mat-stepper-container-text-font);
  background: var(--mat-stepper-container-color);
  background-color: #E8E8E8 !important;
  width: 100% !important;
  height: 100%;
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 24px !important;
  margin: 2rem 0 !important;
}
