@import '../../../../styles/main.scss';


.container-main{
  margin: 0 auto !important;
  height: 100%;
  display: flex;

  .password-reset-container{
    border: 1px solid red;
    min-height: 90vh;
    height: 100%;
    padding: 1rem;
    background-color: $ficus-light-gray;

    mat-stepper{
      background-color: $ficus-light-gray;
    }

    .header{
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      color: $aleixo-dark-blue;
    }
  }
  .side-section{
    border: 1px solid green;
    min-height: 90vh;
    height: 100%;
    padding: 1rem;
    background-color: $aleixo-dark-blue;
  }

}
