<main class="container-main">

  <section class="password-reset-container mt-5 col-xl-12 col-md-12 col-sm-12 col-12">

    <div class="mt-5 w-100 header">
      <h4 class="f-550">Esqueceu a senha? Sem problemas!</h4>
      <br>
      <h6>Insira e confirme seu e-mail e documento, que enviaremos uma nova senha por e-mail</h6>
    </div>

    <form [formGroup]="form">

      <mat-stepper [linear]="true" #stepper>

        <mat-step [completed]="F_email.invalid ? false : true" [stepControl]="form" label="E-mail">
            <mat-form-field class="mb-2 col-12 " appearance="outline">
              <mat-label>insira seu Email</mat-label>
              <input
              matInput
              type="email"
              name="email"
              placeholder="pat@example.com"
              formControlName="email"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              required
              >
              <!-- <mat-error *ngIf="F_email.invalid">{{getErrorMessageEmail()}}</mat-error> -->
          </mat-form-field>
            <div>
              <button mat-button [disabled]="F_email.invalid" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step [completed]="F_email.invalid ? false : true" [stepControl]="form" label="Confirme o E-mail">
            <mat-form-field class="mb-2 col-12 " appearance="outline">
              <mat-label>Confirme seu Email</mat-label>
              <input
              matInput
              type="email"
              name="email"
              placeholder="pat@example.com"
              formControlName="confirmEmail"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              required
              >
              <mat-error *ngIf="F_confirmEmail.invalid">{{error}}</mat-error>
          </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button [disabled]="F_confirmEmail.invalid" matStepperNext>Próximo</button>
            </div>
        </mat-step>


        <mat-step [completed]="F_document.invalid ? false : true" [stepControl]="form" label="CPF/CNPJ">
            <mat-form-field class="mb-2 col-12 " appearance="outline">
              <mat-label>Insira seu CPF/CNPJ</mat-label>
              <input
                matInput
               formControlName="document"
               pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})"
               mask="000.000.000-00||00.000.000/0000-00">
               <!-- <mat-error *ngIf="F_document.invalid">{{getErrorMessageDocument()}}</mat-error> -->
          </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button [disabled]="F_document.invalid" matStepperNext>Próximo</button>
            </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel >Pronto!</ng-template>
          <p>Caso queira, Revise os dados. Se estiver tudo correto, é só clicar em registrar! </p>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Resetar</button>
            <!-- <button mat-button [disabled]="form.invalid" type="submit" (click)="onSubmit()" class=" btn-confirm">Registrar</button> -->
          </div>
        </mat-step>

      </mat-stepper>

    </form>


  </section>
  <!-- <section class="side-section mt-5 col-xl-4 col-md-4 col-sm-12 col-12">

  </section> -->

</main>
